.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  text-align:center
}

.summary {
  align-items: center;
  position: relative;
  align-content: center;
  text-align: center;
  background: antiquewhite;
  padding: 50px;
  font-weight: 800;
  line-height:30px;
}

.post-details{
  align-items: center;
  position: relative;
  align-content: center;
  text-align: center;
  background: antiquewhite;
  padding: 50px;
  font-weight: 800;
  line-height:30px;
}

.post-list{
  align-items: center;
  position: relative;
  align-content: center;
  text-align: center;
  padding: 50px;
  font-weight: 800;
  line-height:30px;
}

.getButton {
  margin:2%;
}

ul {
  list-style-type: none;
  height: 400px;
  overflow: scroll;
  background: antiquewhite;
  border: 1px solid black;
}

textarea{
  width: 900px;
  height: 400px;
}

button {
  padding: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
